<section class="w-[60%] m-auto">
    <!-- banner -->
    <div class="flex flex-col mt-5 bg-[url('https://www.gstatic.com/classroom/themes/img_code.jpg')] h-[30vh]">
        <div class="text-white p-5 mt-auto">
            <h1 class="text-4xl font-extrabold">Amber Academy</h1>
            <h2 class="text-3xl">Add Student's Banking Details</h2>
        </div>
    </div>

    <form action=""
    [formGroup]="createAccount" 
    class="w-[40%] m-auto border-t-4 border-t-[#36474F] mt-5 p-4 shadow-md">
        <input type="text" name="studentId" id="studentId" value="{{student?._id}}" class="border" formControlName="studentId" hidden>
        <div class="py-2">
            <label for="" class="text-[#36474F]">Account Number</label>
            <input type="number" min="999999999" formControlName="account_num" name="account_num" id="account_num" class="border block w-full p-1"  >
        </div>
        <div class="py-2">
            <label for="" class="text-[#36474F]">Name of Bank</label>
            <input type="text" formControlName="bank" name="bank" id="bank" class="border block w-full p-1">
        </div>
        <div class="py-2">
            <label for="" class="text-[#36474F]">Branch Number</label>
            <input type="tel" formControlName="branch" name="branch" id="branch" class="border block w-full p-1">
        </div>
        <div class="py-2">
            <label for="" class="text-[#36474F]">Account Type</label>
            <select formControlName="account_type" name="account_type" id="account_type" class="border block w-full p-1">
                <option value="" hidden>---Select Account Type---</option>
                <option value="Saving">Savinng</option>
                <option value="Checking">Checking</option>
            </select>
        </div>

        <div class="py-2 text-center">
            <button 
            (click)="addAccount()"
            class="bg-[#36474F] px-5 py-2 text-white">Save</button>
        </div>
    </form>
   
</section>
