<section>
    <header class="p-3 border-b shadow-md">
        <nav class="flex justify-between w-[90%] m-auto items-center">
            <h1 class="text-2xl font-extrabold">Amber Students App</h1>

            <ul class="flex gap-5">
                <li>
                    <a routerLink="/" class="border p-2 shadow-sm bg-slate-700 text-white rounded-md">
                        Students List
                    </a>
                </li>
                <li>
                    <a routerLink="/accounts" class="border p-2 shadow-sm bg-slate-700 text-white rounded-md">
                        Accounts List
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</section>
