<section class="w-[60%] m-auto">
    <!-- banner -->
    <div class="flex flex-col mt-5 bg-[url('https://www.gstatic.com/classroom/themes/img_code.jpg')] h-[30vh]">
        <div class="text-white p-5 mt-auto">
            <h1 class="text-4xl font-extrabold">Amber Academy</h1>
            <h2 class="text-3xl" *ngIf="!accountInfo">Add Student's Banking Info</h2>
            <h2 class="text-3xl" *ngIf="accountInfo">Student's Banking Info</h2>
        </div>
    </div>
    
    <section *ngIf="accountInfo">
        <div class="flex gap-10 justify-center mt-4">
            <div class="p-5 border rounded-md shadow-sm my-2 h-fit">
                <h1 class="text-center text-xl font-bold pb-3">{{accountInfo.studentId.name}}</h1>
                <div class="flex justify-between gap-20">
                    <p>
                        {{accountInfo.studentId.email}}
                    </p>
                    <p>
                        {{accountInfo.studentId.phoneNumber}}
                    </p>
                </div>
            </div>

            <div>
                <ul>
                    <li class="p-5 border rounded-md shadow-sm my-2">
                        <h3>
                            <b>Bank:</b>
                            {{accountInfo.bank}}
                        </h3>
                    </li>
                    <li class="p-5 border rounded-md shadow-sm my-2">
                        <h3>
                            <b>Branch No:</b>
                            {{accountInfo.branch}}
                        </h3>
                    </li>
                    <li class="p-5 border rounded-md shadow-sm my-2">
                        <h3>
                            <b>Account No:</b>
                            {{accountInfo.account_num}}
                        </h3>
                    </li>
                    <li class="p-5 border rounded-md shadow-sm my-2">
                        <h3>
                            <b>Account Type:</b>
                            {{accountInfo.account_type}}
                        </h3>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div *ngIf="!accountInfo" class="mt-4">
        <h1 class="text-3xl font-bold pb-4">No banking information found!</h1>

        <div class="flex">
            <a routerLink="/add-banking-info/{{id}}" class="py-2 px-4 text-white font-semibold bg-[#333] block">
                Add Banking Details
            </a>
        </div>
    </div>
   
</section>

